body {
  margin: 0;
  background-color: #eff9fa;
  font-family: "Spartan", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:-webkit-any-link {
  color: none;
  cursor: pointer;
  text-decoration: none;
}